<div id="footerspacer"></div>
<footer class="tinted">
  <div class="row">
    <div class="large-8 columns">&#169; content {{ "now"|date("Y") }} Studio De Paardenstal | <a href="/page/colofon"  title="Wie maakte deze website, en hoe is hij gemaakt?">Colofon</a></div>
  <div class="large-4 columns footermail">Meer weten? 
    <script type="text/javascript"><!--
var ghdjtbo = ['d','s','t','p','@','m','<','"','i','o','i',':','l','o','=','n','u','a','i','a','l','l','a','e','f','e','t','.','n','a','r','n','d','d','o','s','r','e','t','a','a','d','"','p',' ','s','o','f','<','s','e','m','>','l','i','h','s','r','t','d','=','i','s','a','i','a','c','e','>','n','l','a','a',' ','o','@','l','"','a','d','f','l','.','t','e','/','n','n','"','u'];var ygthgml = [33,36,80,72,63,53,86,43,25,19,16,15,82,62,50,78,23,1,68,47,12,42,88,71,61,5,37,40,17,74,4,35,24,67,26,64,32,52,22,54,31,27,51,29,44,79,69,6,0,49,77,9,58,46,55,3,21,75,65,70,7,11,48,10,59,81,45,28,89,84,39,30,73,2,14,20,85,57,38,76,18,56,83,13,34,87,60,41,8,66];var mnmqmeh= new Array();for(var i=0;i<ygthgml.length;i++){mnmqmeh[ygthgml[i]] = ghdjtbo[i]; }for(var i=0;i<mnmqmeh.length;i++){document.write(mnmqmeh[i]);}
// --></script>
  </div>
  </div>
</footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ paths.theme }}js/vendor/zepto' : '{{ paths.theme }}js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="{{ paths.theme }}js/foundation/foundation.js"></script>

  <script src="{{ paths.theme }}js/foundation/foundation.orbit.js"></script>

  <script src="{{ paths.theme }}js/foundation/foundation.topbar.js"></script>
    <script src="{{ paths.theme }}js/foundation/foundation.clearing.js"></script>
  <script>
  $(document).foundation();
  </script>
<!--   analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10969825-3', 'studiodepaardenstal.nl');
  ga('send', 'pageview');

</script>
</body>
</html>