{% include '_header.twig' %}

<div class="row">
    <div class="large-9 large-offset-3 columns">
      <h1>Actueel</h1>
    </div>
    
  <nav class="large-3 columns">
  {% include '_entries_menu.twig' %}
</nav>
<div class="large-9 columns">
<aside class="row collapse">
<p class="large-12 columns">
      Op deze pagina vindt u actuele zaken en een nieuwsarchief van Studio De Paardenstal Amsterdam.
</p>
</aside>
{% setcontent entries= "nieuwsberichten/latest/10" %}
{% for entry in entries %}
<article class="row artikel_overzicht_item collapse">
  <div class="large-4 columns">
    {% if entry.image!="" %}
    <a href="{{entry.link}}" title="{{ entry.title }}">
    <img src="{{ entry.image|thumbnail(219,150, "c") }}" alt="{{ entry.title }}"></a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  <div class="large-8 columns">
    <h3><a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a></h3>
    <p>{{ entry.teaser }}</p>
    <p>
      <a href="{{ entry.link }}" title="{{ entry.title }}">Lees meer &raquo;</a>
    </p>
  </div>
</article>
{% endfor %}
</div>
</div>


{% include '_footer.twig' %}
