{% include '_header.twig' %}

<div class="fullwidth tinted">
<div class="row">
  <div class="small-12 large-8 columns">
  

<!-- Basic orbit markup -->
<ul data-orbit>

{% for image in homepage.imagelist %}
<li>
	<img src="{{ image.filename|thumbnail(740,480) }}" alt="{{ image.title|striptags }}">
  <div class="orbit-caption">{{ image.title|raw }}</div>
{% endfor %}
</li>
</ul>


  </div>
  <div class="large-4 columns">{{homepage.intro}}</div>
  
</div>
</div>

<div class="row homebelow">
<div class="large-6 columns">
  <h5>Actueel</h5>
  <ul>
    {% setcontent entries="nieuwsberichten/latest/4" %}
    {% for entry in entries %}
    <li class="nieuwsitem">
      <a href="{{ entry.link }}" title="{{ entry.teaser }}">{{ entry.title }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="large-6 columns">
{{ homepage.body }}
</div>

</div>
{% include '_footer.twig' %}
