{% include '_header.twig' %}

<div class="row separator">
  <nav class="large-3 columns">
  <ul class="side-nav">
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
</nav>
  <article class="large-9 columns">
    {% if page.image!="" %}
    <img src="{{ page.image|thumbnail(720, 720, "r") }}">
    {% endif %}
   <!--  <img src="http://placeimg.com/740/480/arch" alt=""> -->
    <h1>{{ page.title }}</h1>
    {{ record.body }}
    {% if page.diashow!=""%}
    <ul class="clearing-thumbs" data-clearing>
    {% for image in page.diashow %}
    <li><a href="{{ image.filename|thumbnail(1200,800) }}"><img data-caption="{{ image.title }}" src="{{ image.filename|thumbnail(120,120) }}"></a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {{ record.body_onder}}

  </article>
</div>

{% include '_footer.twig' %}
