{% include '_header.twig' %}

<div class="row"><div class="large-9 columns large-offset-3"><h1>{{ page.title }}</h1></div></div>

<div class="row">
    <nav class="large-3 columns">
  <ul class="side-nav">
  {% set currentchapter = page.taxonomy.chapters|first %}
  {% setcontent pages="pages" %}
  {% for page in pages|order ('menuvolgorde') %}
  {% if page.taxonomy.chapters|first==currentchapter %}
  <li {% if page|current %}class="active"{% endif %}><a href="{{ page.link }}" title="{{ page.title }}">{{ page.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</nav>
  <article class="large-9 columns">
    {% if page.image!="" %}
    <img src="{{ page.image|thumbnail(720, 720, "r") }}">
    {% endif %}
    {{ record.body }}
    {% if page.diashow!=""%}
    <ul class="clearing-thumbs" data-clearing>
    {% for image in page.diashow %}
    <li><a href="{{ image.filename|thumbnail(1200,800) }}" class="th"><img data-caption="{{ image.title }}" src="{{ image.filename|thumbnail(120,120) }}"></a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {{ record.body_onder}}

  </article>
</div>

{% include '_footer.twig' %}
